//Colors
$light-gray: #DBE1DE;
$gray: #B8C1BC;
$dark-gray: #858786;
$darkest-gray: #5E6360;
$red: #CC856C;
$jungle-black: #283F33;

//Colors below are prefaced with the name of the theme they appear in.
$give-tuscan: #E2D7A3;
$give-med-spring-bud: #B1DD7E;
$give-pistachio: #92DD6E;
$give-pastel-green: #76DD61;
$give-med-aquamarine: #6CCC98;

$get-seafoam-green: #A3E2B8;
$get-light-mid-blue: #7EDDDA;
$get-mid-blue: #6EC9DD;
$get-blue-jeans: #61B4DD;
$get-toolbox: #6C6FCC;

// // Body
$body-bg: white;
